{
	# ACME account email — change if you want LE notifications to a real address.
	email admin@basha.cloud
}

home.basha.cloud {
	tls {
		dns route53 {
			max_retries 10
		}
	}

	handle_path /api/* {
		reverse_proxy api:8000
	}

	handle {
		reverse_proxy ui:3000
	}
}
